* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(58, 58, 255);
  margin: 20px auto;
  padding: 15px 15px 15px 15px;
  width: calc(100vw - 100px);
  border-radius: 10px;
  position: sticky;
  top: 10px;
}

.site-name {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.utilities {
  width: calc(100vw - 100px);
  margin: 0 auto;
  margin-top: 40px;
}

.utilities > * {
  margin-bottom: 20px;
}

.input {
  outline: none;
  padding: 3px;
  width: 20%;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 5px;
}

.input::placeholder {
  font-size: 110%;
  color: rgba(0, 0, 0, 0.619);
}

.category-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 2px 20px;
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: 2px solid blue;
  cursor: pointer;
  transition: all 0.2s;
}

button.active {
  background-color: white;
  color: blue;
}

.search {
  margin-left: 5px;
}

main {
  display: grid;
  width: calc(100vw - 100px);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.245fr));
  gap: 50px;
  padding: 30px 0;
  grid-template-rows: auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 11px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.card > * {
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-image {
  width: 100%;
  display: block;
  border-radius: 3px;
}

.card-price {
  background-color: blueviolet;
  display: inline;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 25px;
  margin: 20px auto;
}

.social {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #fff;
  transition: background linear 0.2s;
}

.social a {
  text-decoration: none;
}

.social img {
  width: 25px;
}

.social:hover {
  cursor: pointer;
}

.github:hover {
  background-color: #9a9a9a;
}
.github:hover img {
  color: #fff;
}

.email:hover img {
  color: #fff;
}

.email:hover {
  background-color: #02c8db;
}
